@import "./Ripple/function.scss";
@import "./Ripple/ripple.scss";
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1111;
    background-color: white;
}

.cursor {
    cursor: pointer;
}

.header__left {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header__menu :hover {
    @include ripples(rgb(167, 28, 28), 20, 50);
}

.header__logo {
    object-fit: contain;
    height: 25px;
    margin-left: 20px;
}

.header__input {
    display: flex;
    align-items: center;
    width: 50%;
    /*padding: 3px;*/
    padding: 0px;
    border: 1px solid lightgrey;
}

.header__inputbtn {
    width: 60px !important;
    /*height: 2rem !important;*/
    background-color: #fafafa;
    border: 1px solid lightgrey;
    color: gray;
}

.header__inputbtn:hover {
    color: rgb(97, 95, 95);
    background-color: lightgrey;
}

.header__input input {
    flex: 1;
    border: none;
    border-color: gray;
    /*padding: 2px;*/
}

.header__icon {
    margin-right: 5px;
    padding: 0px 10px;
    color: gray;
    width: 1.2em !important;
    height: 1.2em !important;
    @include ripples(#fefefe, 20, 50);
}

.header__icons {
    display: flex;
    align-items: center;
}